.header {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 5px;

  .search-input {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
  }
  .buttons {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50px;
    background-color: #e3e7ff;
    font-size: 24px;
    font-weight: 400;
    color: #2b3492;
    border: 1px solid #2b3492;
    cursor: pointer;
    &:hover {
      .user-icon {
        display: none;
      }
      .close-sesion-icon {
        display: block;
        font-size: 20px;
        height: 0.9em;
      }
    }
    &:active {
      transform: scale(0.9);
    }
    .close-sesion-icon {
      display: none;
    }
  }
}
